<pre>
  <div style="font-family:Palatino Linotype;">
  Hello,

    Please review this sample site for your concideration.
    This site is Based off of a site I was prototyping for
    the provisioning of servers through a web interface.


     This site includes the following features
  </div>
</pre>


<ul>
  <li><a href="https://material.angular.io/" target="_blank">Material</a></li>
  <li><a href="https://github.com/angular/flex-layout" target="_blank">flex-layout (shrink this page for phone layout)</a></li>
  <li><a href="https://github.com/angular/angularfire2" target="_blank">Firebase backend using AngularFire2 (Using rxjs observables)</a></li>
  <li><a href="https://angular.io/docs/ts/latest/guide/reactive-forms.html" target="_blank">ReactiveForms</a></li>
  <li><a href="https://angular.io/docs/ts/latest/cookbook/aot-compiler.html" target="_blank">Ahead-of-Time Compilation</a></li>
  <li><a href="https://www.w3schools.com/graphics/svg_intro.asp" target="_blank">SVG Images</a></li>
</ul>