<div class="container" fxLayout fxLayout.xs="column"  fxLayoutAlign.xs="center">

    <div class="item item-1" fxFlex="20%" fxFlexOrder="1" fxFlexOrder.xs="1">
        <app-top-menu></app-top-menu>
    </div>
    <div Id="nav" class="item item-2" fxFlex="80%" fxFlexOrder="2" fxFlexOrder.xs="2" fxLayoutAlign.xs="center">


        <router-outlet></router-outlet>
    </div>
</div>

    <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center">

    <div class="item item-3" fxFlex="100%">
        <app-bottom-menu></app-bottom-menu>
    </div>


</div>