<div [formGroup]="parent">
<div formGroupName="servers">

<ul>

 
  <input
       type="checkbox"
       formControlName="MonitorServers"
       style="width: 25px;">Ping Servers & notify when down<br><br>

    <md-input-container>
      <input
       mdInput
       type="text"
       formControlName="Servers"
       placeholder="Servers (If no server names are listed all servers will be monitored)"
       style="width: 380px;">
    </md-input-container><br>

  <input
       type="checkbox"
       formControlName="MonitorDiskSpace">Monitor Server Disk space<br>

  <input
       type="checkbox"
       formControlName="DefragServers">Defrag Servers<br>


</ul>

</div>
</div>